<form method='post'>
  <div>
    <input id="radioButton" type="radio" name="quadrant" value="taskList_1" />
    <label for="radioButton">Task List</label>
    <input id="radioButton" type="radio" name="quadrant" value="dots" />
    <label for="radioButton">Dots</label>
  </div>
  <hr />
  <div>
    <div>
        <input id="radioButton" type="radio" name="location" value="1" />
        <label for="radioButton">Quadrant 1</label>
    </div>
    <div>
      <input id="radioButton" type="radio" name="location" value="2" />
      <label for="radioButton">Quadrant 2</label>
    </div>
    <div>
      <input id="radioButton" type="radio" name="location" value="3" />
      <label for="radioButton">Quadrant 3</label>
    </div>
    <div>
      <input id="radioButton" type="radio" name="location" value="4" />
      <label for="radioButton">Quadrant 4</label>
    </div>
    <div>
      <input id="radioButton" type="radio" name="location" value="5" />
      <label for="radioButton">Quadrant 5</label>
    </div>
    <div>
      <input id="radioButton" type="radio" name="location" value="6" />
      <label for="radioButton">Quadrant 6</label><button type="submit">Submit</button>
    </div>
