<form method='post'>

<div class="flex_sidebar">

  <div class="top_row_sidebar">
    <div id="side_menu_quad">
        <input id="radioButton" type="radio" name="location" value="1" />
    </div>
    <div id="side_menu_quad">
      <input id="radioButton" type="radio" name="location" value="2" />
    </div>
    <div id="side_menu_quad">
      <input id="radioButton" type="radio" name="location" value="3" />
    </div>
  </div>

  <div class="bot_row_sidebar">
    <div id="side_menu_quad">
      <input id="radioButton" type="radio" name="location" value="4" />
    </div>
    <div id="side_menu_quad">
      <input id="radioButton" type="radio" name="location" value="5" />
    </div>
    <div id="side_menu_quad">
      <input id="radioButton" type="radio" name="location" value="6" />
    </div>
  </div>

</div>


    <div>

      <h3>Features</h3>

      <div>
        <input type="radio" name="quadrant" value="taskList_1" />
        <label for="radioButton">Task List</label>
      </div>

      <div>
        <input type="radio" name="quadrant" value="dots" />
        <label for="radioButton">Dots</label>
      </div>

      <div>
        <input type="radio" name="quadrant" value="blank" />
        <label for="radioButton">Remove</label>
      </div>

    </div>


    <div>
      <button id="input_button" type="submit">Submit</button>
    </div>


  </form>
