a {
  color: #dedede;
  border: .01em solid #dedede;
  padding: 4%;
  text-decoration: none;
}

html {
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  background: #333333;
  color: white;
  font-family: raleway;
}

.container {
  height:98vh;
}

.header {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #333333;
  height: 3vh;
  padding-bottom: 2%;
}

.navbar {
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  color: black;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.top_row, .bottom_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.box {
  flex: 1;
  height: 35vh;
  background-color: white;
  border: .01em solid #333333;

}
