a {
  color: #dedede;
  padding: 4%;
  text-decoration: none;
}

a:hover {
  color: lightblue;
}

body {
  margin: 0;
}

html {
  background: #333333;
  color: white;
  font-family: raleway;
  width: 100%;
}

.container {
  height:97vh;
  width: 100%;
}

.header {
  padding-left: 2%;
  color: #222222;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top:2%;
  padding-bottom: 2%;
  width: 100%
}

.navbar {
  padding-left: 5%;
  padding-right: 5%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  padding-left: 5%;
}

.bn_tasks {
  padding-left: 5%;
}

.title {
  color: black;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.top_row, .bottom_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.box {
  flex: 1;
  height: 35vh;
  background-color: white;
  border: .01em solid #333333;

}

.home_task_container {
  display: flex;
  flex-direction: column;
}

table {
  width: 100%
}

#nav_button {
  margin-top: 2%;
}


#feedback_button {
  color: #222222;
}

#feedback_button:hover {
  color: lightblue;
}

#form {
  margin-top: 2%;
}

#input_button {
  margin-top: 2%;
  padding: 1%;
}

#input {
  color: white;
  width: 80%;
  padding: .5%;
  margin: auto;
  font-size: 1.6em;
  background: #333333;
  box-shadow: none;
  border: none;
  border-bottom: .05em solid green;
}

.task_flex {
  display: flex;
  flex-direction: row;

}

#task_input {
    margin-left: 20%;
}
