
<!doctype html>
<html>
    {% block head %}
    <head>
      <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='styles.css')  }}" />
    </head>
  <body>
    {% endblock head %}

  {% block header %}

    <div class="header">
      <div>
        Bare Necessities1.0
      </div>
      <div>
        <a id="feedback_button" href="mailto:justin.rdconcepts@gmail.com">Leave Feedback</a>
      </div>
    </div>

    <div class="bar_container">
      <div class="navbar">
        {% block navlinks %}
        <div id="nav_button"><a id="nav_button_link" href="/">HOME</a></div>
        <div id="nav_button"><a id="nav_button_link" href="/logout">Logout</a></div>
        {% endblock navlinks %}
      </div>
      {% endblock header %}

      {% block greeting %}
      <div class="info_bar">
        <div class="user_bar">
          <div>
            <h1>Hello, {{user.email}}</h1>
          </div>
          <div id="div_hamburger_open">
            <form method='get'>
              <div id="hamburger_open">
                  <label for="radioButton">Open</label>
                  <input id="radioButton" type="radio" name="sb_menu" value="sidebar_menu" />
                  <label for="radioButton">Close</label>
                  <input id="radioButton" type="radio" name="sb_menu" value="sidebar_menu_hidden" />
              </div>
              <div>
                <button id="sidebar_input_button" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <div>
          {% block flash_messages %}
          {% with messages = get_flashed_messages(with_categories=True) %}
              <ul>
                {% for category,message in messages %}
                  <li class="{{category}}">{{message}}</li>
                {% endfor %}
              </ul>
          {% endwith %}
          {% endblock flash_messages %}
        </div>

      </div>
      {% endblock greeting %}



    </div>




    {% block content %}
    {% endblock %}



  </body>
</html>
