<!doctype html>
<html>
    {% block head %}
    <head>
      <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='styles.css')  }}" />
    </head>
  <body>
    {% endblock head %}

  {% block header %}

    <div class="header">
      <div>
        Bare Necessities3.0
      </div>
      <div>
        {{timestamp}} - <a id="feedback_button" href="mailto:justin.rdconcepts@gmail.com">Leave Feedback</a>
      </div>
    </div>

    <div class="bar_container">
      <div class="navbar">
        <div id="nav_button"><a id="nav_button_link" href="http://barenecessity.pythonanywhere.com/">HOME</a></div>
        <div id="nav_button"><a id="nav_button_link" href="/logout">Logout</a></div>
      </div>
      {% endblock header %}

      {% block greeting %}
      <div class="user_bar">
        <h1>Hello, {{owner.email}}</h1>
        {% block flash_messages %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
              {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
              {% endfor %}
            </ul>
        {% endwith %}
        {% endblock flash_messages %}
      </div>
      {% endblock greeting %}



    </div>




    {% block content %}
    {% endblock %}



  </body>
</html>
