{%   extends "base.html"   %}
{%  block content  %}

  <div class="bn_tasks">

  {% if tasks|length < 31 %}
  <form method='post'>
    <label> New Task
      <input id="bn_task_input" type="text" name="task" />
    </label>
    <input id="task_input" type="submit" value="Add Task" />
  </form>
  <ul>
    {% endif %}


    {%for task in tasks %}
    <li class="task_flex"><div id="task_id">{{task.name}}</div>
      <form method="POST" action="/complete-task">
          <input id="done_button" class="top_input" type="submit" value="DONE" />
          <input id="done_button" type="hidden" name="task-id" value="{{task.id}}" />
      </form>
      <!-- <form method="POST" action="/delete-task">
          <input class="top_input" id="task_input" type="submit" value="DELETE" />
          <input id="task_input" type="hidden" name="task-id" value="{{task.id}}" />
      </form> -->
    </li>
    {% endfor %}

  </ul>


</div>

  {%  endblock  %}
