{%   extends "base.html"   %}
{%  block content  %}


  <h1>Quadrant {{quad_id}}</h1>

  <div class="bn_tasks">
  <form method='post'>
    <label> New Task
      <input id="bn_task_input" type="text" name="task" />
    </label>
    <input id="task_input" type="submit" value="Add Task" />
  </form>

  {% if tasks|length == 0  %}
  <p>
    No tasks yet...
  </p>
  {%  else  %}
    <ul>
      {%for task in tasks %}
      <li class="task_flex"><div id="task_id">{{task.name}}</div>
        <form method="POST" action="/complete-task">
            <input id="done_button" class="top_input" type="submit" value="DONE" />
            <input id="done_button" type="hidden" name="task-id" value="{{task.id}}" />
        </form>
        <!-- <form method="POST" action="/delete-task">
            <input class="top_input" id="task_input" type="submit" value="DELETE" />
            <input id="task_input" type="hidden" name="task-id" value="{{task.id}}" />
        </form> -->

      </li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- <h2>COMPLETED</h2>
    <ul>
      {% for task in completed_quad_tasks %}
      <li>
          {{task.name}}
          <form method="POST" action="/delete-task">
              <input class="top_input" id="task_input" type="submit" value="DEL" />
              <input id="task_input" type="hidden" name="task-id" value="{{task.id}}" />
          </form>
          <form method="POST" action="/un-complete-task">
              <input class="top_input" id="task_input" type="submit" value="UNDO" />
              <input id="task_input" type="hidden" name="task-id" value="{{task.id}}" />
          </form>
      </li>
      {% endfor %}
    </ul> -->
</div>

  {%  endblock  %}
