{%   extends "base.html"   %}
{%  block content  %}


{% if quadrants|length < 6 %}

{% include 'snippetfiles/quadrant_radio.html' %}


  </div>
</form>
{% endif %}

{% if quadrants|length == 0 %}
<p>
  no quadrants yet...
</p>
{% endif %}

<!-- START THE MAIN FLEX BOX CONTAINER -->
<div class="flex">
  <!--  TOP THREE ROWS OF THE APP -->
  <!-- BOX NUMBER ONE -->
  <div class="top_row">
    <div class="homepage_container">
      <a class="box" href="http://127.0.0.1:5000/bn?quad_id=1">
      {% for quadrant in quadrants %}
      {% if quadrant.location == 1 %}
      {% include 'snippetfiles/%s.html' % quadrant.feature_name %}
        </a>
      <form method="post" action="/delete-quadrant">
        <input type="submit" value="delete" />
        <input type="hidden" name="quadrant-id" value="{{quadrant.id}}"/>
      </form>
      {% endif %}
      {% endfor %}
    </div>

    <!-- BOX NUMBER TWO -->
    <div class="homepage_container">
      <a class="box" href="http://127.0.0.1:5000/bn?quad_id=2">
      {% for quadrant in quadrants %}
      {% if quadrant.location == 2 %}
      {% include 'snippetfiles/%s.html' % quadrant.feature_name %}
      </a>
      <form method="post" action="/delete-quadrant">
        <input type="submit" value="delete" />
        <input type="hidden" name="quadrant-id" value="{{quadrant.id}}"/>
      </form>
      {% endif %}
      {% endfor %}
    </div>

    <!-- BOX NUMBER THREE -->
    <div class="homepage_container">
      <a class="box" href="http://127.0.0.1:5000/bn?quad_id=3">
      {% for quadrant in quadrants %}
      {% if quadrant.location == 3 %}
      {% include 'snippetfiles/%s.html' % quadrant.feature_name %}
      <form method="post" action="/delete-quadrant">
        <input type="submit" value="delete" />
        <input type="hidden" name="quadrant-id" value="{{quadrant.id}}"/>
      </form>
      {% endif %}
      {% endfor %}
    </div>
  </div>


  </div>

  <!-- SECOND ROW IN THE FLEXBOX CONTAINER -->
  <div class="bottom_row">

    <!-- BOX NUMBER FOUR -->
    <div class="homepage_container">
      <a class="box" href="http://127.0.0.1:5000/bn?quad_id=4">
      {% for quadrant in quadrants %}
      {% if quadrant.location == 4 %}
      {% include 'snippetfiles/%s.html' % quadrant.feature_name %}
      <form method="post" action="/delete-quadrant">
        <input type="submit" value="delete" />
        <input type="hidden" name="quadrant-id" value="{{quadrant.id}}"/>
      </form>
      {% endif %}
      {% endfor %}
    </div>

    <!-- BOX NUMBER FIVE -->
    <div class="homepage_container">
      <a class="box" href="http://127.0.0.1:5000/bn?quad_id=5">
      {% for quadrant in quadrants %}
      {% if quadrant.location == 5 %}
      {% include 'snippetfiles/%s.html' % quadrant.feature_name %}
      <form method="post" action="/delete-quadrant">
        <input type="submit" value="delete" />
        <input type="hidden" name="quadrant-id" value="{{quadrant.id}}"/>
      </form>
      {% endif %}
      {% endfor %}
    </div>

    <!-- BOX NUMBER SIX -->
    <div class="homepage_container">
      <a class="box" href="http://127.0.0.1:5000/bn?quad_id=6">
      {% for quadrant in quadrants %}
      {% if quadrant.location == 6 %}
      {% include 'snippetfiles/%s.html' % quadrant.feature_name %}
      <form method="post" action="/delete-quadrant">
        <input type="submit" value="delete" />
        <input type="hidden" name="quadrant-id" value="{{quadrant.id}}"/>
      </form>
      {% endif %}
      {% endfor %}
    </div>

  </div>

    <form id="form" action="/pdf_template" method="post">
      <input id="download_button" type="submit" value="Download to PDF">
    </form>

{%  endblock  %}
