{%   extends "base.html"   %}
{% block header %}
<div class="header">
  <div>
    Bare Necessities3.0
  </div>
  <div>
    {{timestamp}} - <a id="feedback_button" href="mailto:justin.rdconcepts@gmail.com">Leave Feedback</a>
  </div>
</div>
{% endblock header %}
{% block greeting %}
  {% block flash_messages %}
  {% with messages = get_flashed_messages(with_categories=True) %}
      <ul>
        {% for category,message in messages %}
          <li class="{{category}}">{{message}}</li>
        {% endfor %}
      </ul>
  {% endwith %}
  {% endblock flash_messages %}
{% endblock greeting %}

{%  block content  %}


    <div class="container">





<div>
<form id="form" action="/login" method="post">
    <table>
        <tr>

            <td>
                <input id="input" name="email" type="email" placeholder="Please enter your email" value="{{ check_password }}">
            </td>
        </tr>
        <tr>

            <td>
                <input id="input" name="password" placeholder="Please enter your password" type="password">
            </td>
        </tr>
    </table>
    <input id="input_button" type="submit" value="Login">
</form>
</div>

{%  endblock  %}
