
<!--links to the css page that defines page size-->


<link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='pdfstyle.css')  }}" />



<page>

  <table>
    <tr>
      <!-- QUADRANT # 1 -->
      <td>
              <div id="box">
                {% for quadrant in quadrants %}
                {% if quadrant.location == 1 %}

                {% include 'snippetfiles/%s.html' % quadrant.feature_name %}

                {% endif %}
                {% endfor %}
              </div>
      </td>
<!-- QUADRANT # 2 -->
      <td>
              <div id="box">
                {% for quadrant in quadrants %}
                {% if quadrant.location == 2 %}

                {% include 'snippetfiles/%s.html' % quadrant.feature_name %}

                {% endif %}
                {% endfor %}

              </div>
      </td>
<!-- QUADRANT # 3 -->
      <td>
              <div id="box">
                {% for quadrant in quadrants %}
                {% if quadrant.location == 3 %}

                {% include 'snippetfiles/%s.html' % quadrant.feature_name %}

                {% endif %}
                {% endfor %}

              </div>
      </td>
    </tr>


    <tr>
<!-- QUADRANT # 4 -->
      <td>
            <div id="box">
              {% for quadrant in quadrants %}
              {% if quadrant.location == 4 %}

              {% include 'snippetfiles/%s.html' % quadrant.feature_name %}

              {% endif %}
              {% endfor %}
            </div>
      </td>
<!-- QUADRANT # 5 -->
      <td>
          <div id="box">
            {% for quadrant in quadrants %}
            {% if quadrant.location == 5 %}

            {% include 'snippetfiles/%s.html' % quadrant.feature_name %}

            {% endif %}
            {% endfor %}
          </div>


      </td>
<!-- QUADRANT # 6 -->
      <td>
            <div id="box">
              {% for quadrant in quadrants %}
              {% if quadrant.location == 6 %}

              {% include 'snippetfiles/%s.html' % quadrant.feature_name %}

              {% endif %}
              {% endfor %}
            </div>
      </td>
  </tr>
  </table>
</page>
