<table style="width:100%;">
  <tr>

    <!-- Quadrant 1 -->
    <td style="display: inline-block;
        font-size: 9em;
        font-family: helvetica;
        width: 30%;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;">
            <div style='height: 50%; padding: 2%;'>
              {%for task in tasks %}
                {% if task.quad_id == 1  %}
                  <div>{{task.name}}</div>
                {%endif%}
              {%endfor%}
            </div>
    </td>

    <!-- Quadrant 2 -->
    <td style="display: inline-block;
        font-size: 9em;
        font-family: helvetica;
        width: 30%;
        border-bottom: 1px solid #333333;">
            <div style='padding: 2%;'>
              {%for task in tasks %}
                {% if task.quad_id == 2  %}
                  <div>{{task.name}}</div>
                {%endif%}
              {%endfor%}
            </div>
    </td>
    <!-- Quadrant 3 -->
    <td style="display: inline-block;
        font-size: 9em;
        font-family: helvetica;
        width: 30%;
        border-left: 1px solid #333333;
        border-bottom: 1px solid #333333;">
            <div style='padding: 2%;'>
              {%for task in tasks %}
                {% if task.quad_id == 3  %}
                  <div>{{task.name}}</div>
                {%endif%}
              {%endfor%}
            </div>
    </td>
  </tr>
  <tr>

    <!-- Quadrant 4 -->
    <td style="display: inline-block;
        font-size: 9em;
        font-family: helvetica;
        width: 30%;
        border-right: 1px solid #333333;
        border-top: 1px solid #333333;">
          <div style='padding: 2%;'>
            {%for task in tasks %}
              {% if task.quad_id == 4  %}
                <div>{{task.name}}</div>
              {%endif%}
            {%endfor%}
          </div>
    </td>

    <!-- Quadrant 5 -->
    <td style="display: inline-block;
      font-size: 9em;
      font-family: helvetica;
      width: 30%;
      border-top: 1px solid #333333;">
        <div style='padding: 2%;'>
            {%for task in tasks %}
              {% if task.quad_id == 5  %}
                <div>{{task.name}}</div>
              {%endif%}
            {%endfor%}
        </div>


    </td>
    <!-- Quadrant 6 -->
    <td style="display: inline-block;
        font-size: 9em;
        font-family: helvetica;
        width: 30%;
        border-left: 1px solid #333333;
        border-top: 1px solid #333333;">
          <div style='padding: 2%;'>
            {%for task in tasks %}
              {% if task.quad_id == 6  %}
                <div>{{task.name}}</div>
              {%endif%}
            {%endfor%}
          </div>
    </td>

  </tr>
</table>
