{%   extends "base.html"   %}
{%  block content  %}

<div class="flex">
  <div class="top_row">
    <a class="box" href="http://127.0.0.1:5000/bn?quad_id=1"><div class="title">
      <div class="home_task_container">
        {%for task in tasks %}
          {% if task.quad_id == 1  %}
            <div class="home_tasks">{{task.name}}</div>
          {%endif%}
        {%endfor%}
      </div>
    </div></a>
    <!-- USE SOMETHING LIKE THIS TO SEND THE OBJECT ATTRIBUTE TO BE COLLECTED AS A VARIABLE -->

    <a class="box" href="http://127.0.0.1:5000/bn?quad_id=2"><div class="title">
      <div class="home_task_container">

      {%for task in tasks %}
        {% if task.quad_id == 2  %}
          <div class="home_tasks">{{task.name}}</div>
        {%endif%}
      {%endfor%}

      </div>
      </div></a>

    <a class="box" href="http://127.0.0.1:5000/bn?quad_id=3"><div class="title">
      <div class="home_task_container">

      {%for task in tasks %}
        {% if task.quad_id == 3  %}
          <div class="home_tasks">{{task.name}}</div>
        {%endif%}
      {%endfor%}

      </div>
    </div></a>
  </div>
  <div class="bottom_row">
    <a class="box" href="http://127.0.0.1:5000/bn?quad_id=4"><div class="title">
      <div class="home_task_container">

      {%for task in tasks %}
        {% if task.quad_id == 4  %}
          <div class="home_tasks">{{task.name}}</div>
        {%endif%}
      {%endfor%}

      </div>
    </div></a>
    <a class="box" href="http://127.0.0.1:5000/bn?quad_id=5"><div class="title">
      <div class="home_task_container">

      {%for task in tasks %}
        {% if task.quad_id == 5  %}
          <div class="home_tasks">{{task.name}}</div>
        {%endif%}
      {%endfor%}

      </div>
    </div></a>
    <a class="box" href="http://127.0.0.1:5000/bn?quad_id=6"><div class="title">
      <div class="home_task_container">

      {%for task in tasks %}
        {% if task.quad_id == 6  %}
          <div class="home_tasks">{{task.name}}</div>
        {%endif%}
      {%endfor%}

      </div>
    </div></a>
  </div>

{%  endblock  %}
