{%   extends "base.html"   %}
{% block header %}
<div class="header">
  <div>
    Bare Necessities3.0
  </div>
  <div>
    {{timestamp}} - <a id="feedback_button" href="mailto:justin.rdconcepts@gmail.com">Leave Feedback</a>
  </div>
</div>
{% endblock header %}
{% block greeting %}
{% endblock greeting %}

{% block content %}

<div class="overlay">

</div>

    <div>
      <h1>Register</h1>
    </div>


<form id="register_form" action="/really-long-registration_name-throws-off-hackers" method="post">
    <table>
        <tr>
            <td><label for="email">Email</label></td>
            <td><input id="input" name="email" type="email" value="{{ email }}"></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input id="input" name="password" type="password"></td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td><input id="input" name="verify" type="password"></td>
        </tr>
    </table>
    <input id="input_button" type="submit" value="Register">
</form>

{% endblock content %}
